extends baseEmail

block content
    p Someone has shown interest in ONDC Nowfloats.
    p Here are the details:
    ul
      each val, key in data
        li= key + ': ' + val

    p - Team ONDC Nowfloats